body {
    font-family: Arial, sans-serif;
    margin: 20px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

a,
header,
p {
    text-align: center;
}

div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

button {
    font-size: 3rem;
    margin: 5px;
    padding: 5px;
    background-color: rgb(251, 184, 41);
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: left;
}

button[class="muteButton"] {
    width: 4.7rem;
}

button:hover {
    background-color: #45b300;
}

label,
input[type="range"] {
    padding-top: 15px;
    padding-bottom: 15px;
}